//qty
.qty-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f6f6f6;
  border-radius: 5px;
  margin-top: 10px;

  ion-button {
      --color: #565656;
      font-size: 16px;
      margin-left: 8px;
      margin-right: 8px;
  }

  ion-label {
      color: #565656 !important;
      font-size: 16px;
  }
}
//searchbar
#searchbar{
    color: black !important;
     width: 80vw;
      margin: 0 auto;
       margin-top:5%;
}

//container in page body


//Footer style
.footer{
    width: 100%;
    display: block;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    --background:#031432;
  }
  .footerIcon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: rgb(197, 202, 204);
    align-items: center;
    font-size: 20px;
    --ionicon-stroke-width: 46px;
  }
  .touch h4{
    display: block;
    margin-left: 30px;
    margin-right: auto;
    align-items: center;
    font-size: 14px;
    color:rgb(197, 202, 204);
    margin-top:0;
    margin-bottom:0;
  }
  
  .width{
    font-size: 26px;
  }
  
  
  .icon{
    width: 20px;
    height: 28px;
    border: none;
    padding:2px;
  }