<ion-header mode=ios>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>KATALOG POLICY TERMS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>

<ion-footer>
  <ion-toolbar >
    <ion-tabs>
      <ion-tab-bar color="dark">
        <ion-tab-button routerLink="/home"  routerDirection="forward">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>
    
        <ion-tab-button routerLink="/cart"  routerDirection="forward">
          <ion-icon name="cart-outline"></ion-icon>
          <ion-label>Cart</ion-label>
        </ion-tab-button>
    
        <ion-tab-button routerLink="/account"  routerDirection="forward">
          <ion-icon name="person-circle-outline"></ion-icon>
          <ion-label>Profil</ion-label>
        </ion-tab-button>
    
        <ion-tab-button routerLink="/order"  routerDirection="forward">
          <ion-icon name="cube-outline"></ion-icon>
          <ion-label>Order</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    
    </ion-tabs>
  </ion-toolbar>
  
</ion-footer>